#carousel {
    height: 400px;
    width: 600px;
    margin: 30px auto;
    position: relative;
}

#carousel .gallery {
    height: 100%;
}


#carousel .gallery img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    
}

#carousel .gallery figure{
    height: 100%;
    position: relative;
}

#carousel .gallery figcaption{
    position: absolute;
    top: 5px;
    right: 20px;
    left: 20px;
    color: white;
    text-shadow: 0 0 5px black;
    text-align: right;
}

#carousel .gallery .active{
    display: block;
    filter: grayscale(0%);
} 

#carousel .bi{
    font-size: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

#prev {
    right: 105%;
}

#next {
    left: 105%;
}

#thumbnails{
    display: flex;
}

.thumb{
    width: calc(100% / 5);
    filter: grayscale(100%);
}